.payment-container {
}

    .payment-container input[type=text], .payment-container input[type=number] {
        height: 24px;
        margin: 5px 10px;
    }

.payment-title {
    padding: 5px;
    font-size: 24px;
    font-weight: 400;
}

.payment-label {
    padding: 5px 0;
}

@media only screen and (min-width : 768px) {
    .payment-label {
        text-align: right;
    }
}

.payment-message {
    font-size: 20px;
    font-weight: 600;
    text-align: center;
}

.payment-warning {
    color: red;
}

.payment-success {
    color: green;
}
